.assets-table {
  border: 1px solid #edeef0;
  border-radius: 2px;
  box-shadow: 0 0 4px #edeef0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  &__item {
    padding: 20px;
    border-bottom: 1px solid #edeef0;

    &:last-of-type {
      border-bottom: 0;
      background-color: #edeef0;
    }
  }

  &__name {
    display: flex;
    align-items: center;
  }

  &__size {
    text-align: center;

    &--percent {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__value {
    display: inline-block;
    margin: 0 4px 2px;
    font-size: 1.3em;
    font-weight: 500;
  }

  &__unit {
    font-size: 0.7em;
    font-weight: 200;
  }

  &__size-type {
    font-size: 0.7em;
    font-weight: 200;
  }
}
