@import '../../variables.scss';

.assets-table {
  margin: 0;
  list-style: none;
  overflow: hidden;

  &__item {
    padding: 14px 10px;
    background-color: $base-color-primary;
    border-radius: 4px;
    margin-bottom: 6px;

    &:last-of-type {
      border-bottom: 0;
      background-color: transparent;

      .assets-table__size--percent {
        visibility: hidden;
      }
    }
  }

  &__name {
    display: flex;
    align-items: center;
    color: $font-color-secondary;

    &--hash-change {
      color: #e74c3c;
    }
  }

  &__size {
    text-align: center;

    &--percent {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__value {
    display: inline-block;
    margin: 0 4px 2px;
    font-size: 1.3em;
    font-weight: 300;
  }

  &__unit {
    font-size: 0.7em;
    color: $font-color-secondary;
  }

  &__size-type {
    font-size: 0.7em;
    color: $font-color-secondary;
  }

  &__diff {
    font-size: 0.7em;
    font-weight: 500;

    &:empty::before {
      border: 0;
    }

    &:before {
      content: '';
      display: inline-block;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      margin: 0 4px;
    }

    &--pos {
      position: relative;
      color: #2ecc71;
      &:before {
        border-top: 6px solid #2ecc71;
      }
    }

    &--neg {
      position: relative;
      color: #e74c3c;
      &:before {
        border-bottom: 6px solid #e74c3c;
      }
    }
  }
}

.release-summary {
  padding-bottom: 10px;

  &__name {
    font-size: 1.3em;
    font-weight: 100;
  }
  &__timestamp {
    color: $font-color-secondary;
    font-size: 0.9em;
    padding-bottom: 4px;
  }
  &__time {
    color: $font-color-secondary;
    font-size: 0.9em;
  }
}
