@import '../../variables.scss';

.assets-table {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  &__item {
    padding: 14px 20px;
    background-color: $base-color-primary;
    border-radius: 4px;
    margin-bottom: 6px;

    &:last-of-type {
      border-bottom: 0;
      background-color: transparent;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    color: $font-color-secondary;
  }

  &__size {
    text-align: center;

    &--percent {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__value {
    display: inline-block;
    margin: 0 4px 2px;
    font-size: 1.3em;
    font-weight: 300;
  }

  &__unit {
    font-size: 0.7em;
    color: $font-color-secondary;
  }

  &__size-type {
    font-size: 0.7em;
    color: $font-color-secondary;
  }
}

.release-summary {
  padding-bottom: 10px;

  &__name {
    font-size: 1.3em;
    font-weight: 100;
  }
  &__timestamp {
    color: $font-color-secondary;
    font-size: 0.9em;
    padding-bottom: 4px;
  }
  &__time {
    color: $font-color-secondary;
    font-size: 0.9em;
  }
}
