@import '../../variables.scss';

.filters {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgba($base-color-primary, 0.3);

  &__header {
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 6px;
  }
}

.filter-checkbox {
  margin-right: 14px;

  &__item {
    border: 1px solid $base-color-primary;
    color: $font-color-secondary;
    background-color: $base-color-primary;
    border-radius: 14px;
    display: inline-block;
    padding: 6px 10px;
    cursor: pointer;
  }

  input:checked ~ &__item {
    background-color: $filter-active;
    color: $filter-font-color;
  }
}

.filter-radio-group {
  border: 1px solid $base-color-primary;
  color: $filter-active;
  background-color: $base-color-primary;
  border-radius: 14px;
  overflow: hidden;

  &__item {
    display: inline-block;
    min-width: 30px;
    text-align: center;
    padding: 6px 10px;
    cursor: pointer;
    color: $font-color-secondary;
  }

  input:checked ~ &__item {
    background-color: $filter-active;
    color: $filter-font-color;
    cursor: auto;
    border-radius: 14px;
  }
}

.filter-checkbox input,
.filter-radio-group input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
