body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.app-title {
  padding: 20px;
  margin: 0;
}
