// Base
$font-color-primary: #fff;
$font-color-secondary: #a9abb1;
$bg-color: #0a0b0e;

$base-color-primary: #171920;
$base-color-secondary: #1e212a;

$accent-color-primary: #1976d2;
$accent-color-secondary: #03a9f4;

// Bar Chart
$gzip-color: $base-color-secondary;
$gzip-active-color: $accent-color-primary;
$gzip-hover-color: lighten($base-color-secondary, 5);

$min-color: $base-color-primary;
$min-active-color: $accent-color-secondary;
$min-hover-color: lighten($base-color-primary, 5);

$bar-tooltip-bg: $base-color-primary;

// Filter
$filter-active: $accent-color-primary;
$filter-font-color: #fff;

// Pagination
$arrow-color: #6a7070;
