// Bar Chart
$gzip-color: #65a1f8;
$gzip-active-color: darken($gzip-color, 10);
$gzip-hover-color: darken($gzip-color, 5);

$min-color: #65c3f8;
$min-active-color: darken($min-color, 10);
$min-hover-color: darken($min-color, 5);

$bar-tooltip-bg: #423d3d;

// Table
$table-border: #edeef0;

// Filter
$filter-active: #0652dd;
