// Base
$font-color-primary: #000;
$font-color-secondary: #000;
$bg-color: #fff;

$base-color-primary: #ecf0f1;
$base-color-secondary: #777c8b;

$accent-color-primary: #1976d2;
$accent-color-secondary: #03a9f4;

// Bar Chart
$gzip-color: $base-color-secondary;
$gzip-active-color: $accent-color-primary;
$gzip-hover-color: darken($base-color-secondary, 5);

$min-color: $base-color-primary;
$min-active-color: $accent-color-secondary;
$min-hover-color: darken($base-color-primary, 5);

$bar-tooltip-bg: $base-color-primary;

// Filter
$filter-active: $accent-color-primary;
$filter-font-color: #fff;

// Pagination
$arrow-color: #6a7070;
